/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.search-form {
  display: flex;
  max-width: 1440px;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 32px auto;
}

input[type='search'][name='query'] {
  width: 272px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 8px 16px 8px 16px;

  color: #808080;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

input[type='search'][name='query']:hover {
  border: 1px solid #000;
}

input[type='search'][name='query']:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

input::placeholder {
  color: #808080;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e75ff;
  border: 0px;
  margin-left: 8px;

  color: #fff;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

button:hover {
  background: #6c8cff;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

li {
  width: 360px;
  height: 200px;

  flex-shrink: 0;
  border: 1px solid #808080;
  background: #fff;
}

.preview-image {
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.info-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  gap: 32px;
}

.label {
  color: #2e2f42;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.48px;
}

.data-label {
  color: #2e2f42;
  font-family: Montserrat, Roboto, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid #4e75ff;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: #4e75ff;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }
  25% {
    transform: translate(-10px, 10px);
  }
  50% {
    transform: translate(10px, 10px);
  }
  75% {
    transform: translate(10px, -10px);
  }
  100% {
    transform: translate(-10px, -10px);
  }
}
